HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
.vscode/
.sts4-cache
.springBeans
.settings
.classpath
.project
.apt_generated

# Ignore sensitive files
src/main/resources/application.properties
